<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKbycvaQumUTz9vw6yYaJaqrga85zkzf8</string>
	<key>GCM_SENDER_ID</key>
	<string>246875707165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehsanpathways.ehsanPathways</string>
	<key>PROJECT_ID</key>
	<string>ehsanpathways</string>
	<key>STORAGE_BUCKET</key>
	<string>ehsanpathways.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246875707165:ios:5c4b7a6a6c52e718bc73f4</string>
</dict>
</plist>